{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
{% if app.user %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-10 col-lg-9 col-md-8 ml-auto mb-3 mt-5">
            <div class="my-5">
                {% for app in apprenant %}
                    
                    <h4 class="btn btn-info btn-sm">Profil de {{app.apprenant}}</h4>
                    <table>
                        {% for reseau in app.apprenant %}
                        <tr>
                            <td>{{ reseau.nom}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    <table>
                        {% for promotion in apprenant %}
                        <tr>
                            <td>{{ promotion.promotion.formation.intitule}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    <table>
                        {% for retard in app.retards %}
                            <tr>
                                <td>{{ retard.date|date('d/m/Y')}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    <table>
                        {% for absence in app.absences %}
                        <tr>
                            <td>{{ absence.dateFin|date('d/m/Y')}}</td>
                        </tr>
                        {% endfor %}
                    </table>

                   
                {% endfor %}
               
            </div>
        </div>
    </div>
</div>

{% endif %}
{% endblock %}